img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 400px) {
  .answer_css {
    position: fixed;
    margin-top: 75%;
    height: 40%;
  }
}

@media screen and (min-width: 800px) {
  .answer_css {
    height: 600px;
    position: inherit;
    margin-top: 0;
  }
}